* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px "Lato", sans-serif;
    background: #525949;
}
h1, h2 {
    color: #964448;
    font: 30px "Lato", sans-serif;
    margin: 0 0 10px 0;
    text-shadow: 2px 2px 5px #5D464C;
}
#room-banner {
    width: 360px;
    filter: brightness(150%);
    filter: drop-shadow(5px 5px 5px #314659);
}
#page-wrap {
    width: 500px;
    margin: 30px auto;
    position: relative;
}
#name-input>label {
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
}


#chat-wrap {
    border: 1px solid #eee;
    margin: 0 0 15px 0;
}
#chat-area {
    height: 300px;
    overflow: auto;
    border: 1px solid #666;
    padding: 20px;
    background: white;
}
    #chat-area span {
        color: white;
        background: #333;
        padding: 4px 8px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 8px;
        margin: 0 5px 0 0;
        font-size: 14px;
    }
    #chat-area p {
        padding: 8px 0;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
    }
    #chat-area img {
        vertical-align: top;
    }

#name-area {
    position: absolute;
    top: 12px;
    right: 0;
    color: white;
    font: bold 12px "Lato", sans-serif;
    text-align: right;
}
    #name-area span {
        color: #964448;
    }



#send-message-area p {
    float: left;
    color: white;
    padding-top: 27px;
    font: "Lato", sans-serif;
    font-size: 18px;
}
#sendie {
    border: 3px solid #999;
    width: 360px;
    padding: 10px;
    font: 12px "Helvetica", sans-serif;
    float: right;
}

#room-select {
    height: 200px;
    width: 400px;
    border: 1px solid #666;
    padding: 20px;
    background: white;
}
    #room-select option {
        padding: 8px;
        font-size: 15px;
    }

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    float: left;
    background-color: #4b4b4b;
}

#section label {
    color: white;
    padding: 10px;
    font-size: 16px;
}
#userid, #userpass, #userpass-repeat {
    height: 30px;
    margin: 1px;
}
    #userid p, #userpass p {
        font-size: 14px;
    }

#new-user-form p {
    color: white;
    font-size: 14px;
}

form a {
    color: #964448;
    font-size: 14px;
}
    form a:hover {
        text-shadow: 1px 1px 3px #5D464C;
    }

#send-button, #submit, #emote-button {
    border: 2px solid #666;
    padding: 5px;
    background: #333;
    color: white;
}
    #send-button:hover, #submit:hover, #emote-button:hover {
        filter: drop-shadow(1px 1px 4px #C0BEB1);
    }